@font-face {
     font-family: 'montserrat';
     src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
    font-family: 'league';
    src: url('./leaguespartan-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}